button,
button:active,
button:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none !important;
    color: grey !important;
}

/*------------------DROPMENU----------*/
.dropdown-toggle {
    color: grey;
    background-color: #add8e640;
    padding: 5px;
    border-radius: 38px;
    padding-left: 12px;
}

.dropdown-toggle::after {
    color: #a9a9a940;
}

.dropdown-toggle:hover {
    background-color: #6495ed2e !important;
}


ul.dropdown-menu li {
    margin-bottom: 5px;
}

ul.show {
    margin-top: 8px !important;
    margin-left: -20px !important;
}

ul.dropdown-menu li:hover {
    background-color: #6495ed2e !important;
    border-radius: 38px !important;
}
.drop-menu {
    padding: 0px 18px !important;
}


/*------------------CONTENT----------*/
.content {
}

