body, html {
    height: 100%;
}
.card-header {
    margin-bottom: 20px !important;
    font-size: 18px !important;
}
.form-control {
    height: 35px !important;
}
#sign-in-button {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
}
#sign-in-warning {
    text-align: center;
    font-size: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 15%;
    margin-right: 15%;
}

#rememberme {
    margin-top: 7px !important;
    margin-right: 8px !important;
}