.card-header {
    font-size: 18px;
}

.form-control {
    height: 30px !important;
}

.field-title {
    margin-top: 10px !important;
    font-size: 20px;
    font-weight: normal;
}

.field-hint {
    font-size: 13px;
}

.choose-status {
    margin-top: 50px;
    margin-left: 40px;
    font-size: 20px;
}
.number-prepend {
    height: 30px !important;
}

.input-group {
    width: 300px !important;
}

.btn-register {
    position: absolute !important;
    right: 0;
    float: right;
    margin-top: 40px;
    background-color: cornflowerblue;
}

#div-without-hint {
    max-height: 43px;
    min-height: 43px;
}


/*----------------------WARNING---------------------*/
.sign-up-div-hint {
    min-height: 55.11px;
    max-height: 55.11px;
}
#radio-warning {
    font-size: 13px;
    height: 30px;
    padding-top: 5px;
    width: 250px;
    margin-left: 20px;
    display: none;
}
#empty-field {
    position: absolute;
    left: 100px;
    width: 480px;
    min-height: 30px;
    max-height: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}