<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="4.0.1">
    <!--<error-page>-->
        <!--<error-code>404</error-code>-->
        <!--<location>/assets/error/404_error.html</location>-->
    <!--</error-page>-->

    <!--&lt;!&ndash;<error-page>&ndash;&gt;-->
        <!--<error-code>500</error-code>-->
        <!--<location>/assets/error/500_error.html</location>-->
    <!--</error-page>-->
</web-app>